/* Start MAssage CSS */

.continer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.message {
    margin-top: 100px;
}

.message p {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin: 25px 15px;
    padding: 35px 15px;
    border: 2px solid white;
    border-radius: 25px;
}

.message p:hover {
    border-color: goldenrod;
    transition: 3s ease-in-out all;
}

.message img {
    width: 80%;
    height: 70%;
    position: relative;
    left: 10%;
    margin-bottom: 20px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    border-bottom: 3px solid goldenrod;
}

/* End MAssage CSS */

